/* Card */
.container {
  position: relative;
}

.container .card {
  margin: 17px auto;
  position: relative;
  width: 100%;
  height: 520px;
  background: #f1f1f1;
  border-radius: 20px;
  overflow: hidden;

}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5c6369;
  clip-path: circle(240px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container .card:after {
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
}

.container .card .imgBx {
  position: absolute;
  top: 22%;
  transform: translateY(-49%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.container .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 114px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}

.container .card:hover .contentBx {
  height: 52%;
  align-items: center;
}

.container .card .contentBx h3 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000;
}

.container .card .contentBx .category,
.container .card .contentBx .price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.container .card:hover .contentBx .category {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .price {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .category h3,
.container .card .contentBx .price h3 {
  color: #0a5527;
  font-weight: bolder;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size h3 {
  color: #055527;
  font-weight: bolder;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 10px;
}




