@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Oswald&family=Poppins&family=Quicksand&family=Raleway&family=Roboto&family=Shrikhand&display=swap");

body {
  font-family: "Nunito", sans-serif !important;
  font-size: 18px !important;
  overflow-x: hidden !important;
  
}

.logo {
  font-family: "Shrikhand", cursive;
}
.anim {
  transition: all 1.5s ease !important;
}
.anim:hover {
  transform: scale(1.5);
}

/* carousel */
.carousel img {
  max-height: 450px;
  margin: 0 auto;
}

.summary {
  background-color: #f1f1f1;
}


