@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&family=Roboto&display=swap');
body {
  font-family: "Roboto", sans-serif !important;
  font-size: 18px !important;
}

/* cards */
.inner {
  overflow: hidden;
}
.inner .image {
  transition: all 1.5s ease !important;
}
.inner:hover .image {
  transform: scale(1.5);
}

.anim{
  transition: all 1.5s ease !important;
  
}
.anim:hover{
  transform: scale(1.5);
}

/* carousel */
.carousel img {
  max-height: 450px;
  margin: 0 auto;
}

.summary {
  background-color: #f1f1f1;
}
