@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Oswald&family=Poppins&family=Quicksand&family=Raleway&family=Roboto&family=Shrikhand&display=swap");
body {
  font-family: "Nunito", sans-serif !important;
  font-size: 18px !important;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
}
.logo {
  font-family: "Shrikhand", cursive;
}
.anim {
  transition: all 1.5s ease !important;
}
.anim:hover {
  transform: scale(1.5);
}

/* carousel */
.carousel img {
  max-height: 450px;
  margin: 0 auto;
}

.summary {
  background-color: #f1f1f1;
}

.psize span {
  color: #000;
  cursor: pointer;
}
.psize span:hover{
  background-color: #1ac929;
}
